<launch>
  <let name="use_sim" value="true"/>
  
  <node pkg="lego_loam_bor" exec="mcl_feature" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization_from_lio.yaml" />
    <remap from="/lslidar_point_cloud" to="/mid360_PointCloud2"/>
    <remap from="/odom" to="/odom"/>
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="sensor2baselink"  args="0.3 0 0.38 -3.1415926535 0.0 0 base_link laser_link" />

  <node pkg="mcl_3dl" exec="mcl_3dl" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>
  
  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="global_planner" exec="global_planner_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="p2p_move_base" exec="p2p_move_base_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <node pkg="p2p_move_base" exec="clicked2goal.py" output="screen" respawn="false">
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>
  

  <node pkg="rviz2" exec="rviz2" output="screen" respawn="false" args="-d $(find-pkg-share p2p_move_base)/rviz/p2p_move_base_localization.rviz">
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

</launch>
