<launch>
  <arg name="use_sim_time" default="false"/>
  <arg name="mapping_dir" default="/tmp/dddmr_fastlio_mid360_map"/>
  <arg name="rviz_config" default="$(find-pkg-share dddmr_beginner_guide)/rviz/livox_mid360_fastlio_dddmr_mapping.rviz"/>

  <include file="$(find-pkg-share fast_lio)/launch/mapping.launch.py">
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
    <arg name="config_path" value="$(find-pkg-share dddmr_beginner_guide)/config"/>
    <arg name="config_file" value="fastlio_mid360_dddmr.yaml"/>
    <arg name="rviz" value="false"/>
  </include>

  <node pkg="dddmr_fastlio_adapter" exec="fastlio_dddmr_adapter_node" output="screen">
    <param from="$(find-pkg-share dddmr_fastlio_adapter)/config/livox_mid360_dddmr_adapter.yaml"/>
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="mapping_dir" value="$(var mapping_dir)"/>
  </node>

  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2footprint"
        args="0.0 0 -0.24 0.0 0.0 0 base_link base_footprint"/>

  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2mid360"
        args="0.3 0 0.38 0.0 0.485596 0 base_link livox_frame"/>

  <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen" respawn="false"
          args="-d $(var rviz_config)"/>
</launch>
